name: CI - Build and Deploy

on:
  push:
    branches:
      - main
    paths:
      - "app/**"
  workflow_dispatch:

env:
  AWS_REGION: us-east-1

permissions:
  id-token: write   # required for OIDC
  contents: read

jobs:
  build-and-push:
    name: Build and push Docker image to ECR
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set short SHA
        id: vars
        run: echo "sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ECR_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: ecr-login
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: ./app
          push: true
          tags: |
            ${{ steps.ecr-login.outputs.registry }}/demo-lambda-api:${{ steps.vars.outputs.sha }}
            ${{ steps.ecr-login.outputs.registry }}/demo-lambda-api:latest
